.container .row {
  margin-top: 15px;
}

#border-orange {
  border-bottom: 4px solid #F2A033;
}

#red {
  color: red;
}

.listStyle {
    color: red;
}

.listStyle h1 {
    color: black;
}

#icon-small {
  font-size: 0.4em;
}
